#homePageHeader{
	text-align: center;
	font-size: 75px;
	color: #EC739D;
	margin-top: 150px;
}

#homePageSubHeader{
	text-align: center;
	color: rgba(0, 136, 169, 1);
	margin-top: 30px;
	font-size: 65px;

}